body {
    margin: 1em 0;
}
.high-ranked {
    background: rgba(0,0,0,0.05);
    border-left: 1px solid coral;
}

article {
    padding: 1em 1.5em 1em;
}

.author-container img {
    display: inline-block;
    vertical-align: middle;
}
